<div class="verticalSocialHolder">
  <div class="socialMediaOption" id="twitter">
    <div class="socialMediaImage">
      <a href="https://twitter.com/share?url=https%3A%2F%2Fcida.usgs.gov%2Fnwc-static%2Fwaterbudget-viz%2F%3Futm_source%3Dtwitter&text=Water%20Budgets%20Across%20the%20United%20States&hashtags=water,precipitation,evapotranspiration,dataviz
" target="_blank">
        <img src="images/twitter.svg"/>
      </a>
    </div>
  </div>
  <div class="socialMediaOption" id="facebook">
    <div class="socialMediaImage">
      <a href="http://www.facebook.com/sharer.php?u=https%3A%2F%2Fcida.usgs.gov%2Fnwc-static%2Fwaterbudget-viz%2F%3Futm_source%3Dfacebook" target="_blank">
        <img src="images/facebook.svg"/>
      </a>
    </div>
  </div>
</div>